<h1 id="tableLabel">Access</h1>

<p>This component demonstrates fetching data from the server.</p>

<button [disabled]="isProcessing" class="btn btn-primary" (click)="loadAll()">Reload</button>
<p *ngIf="!accesses"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="accesses">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Username</th>
      <th>Action</th>
      <th>Result</th>
      <th>Correlation Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let access of accesses">
      <td>{{ access.timeStamp }}</td>
      <td>{{ access.username }}</td>
      <td>{{ access.action }}</td>
      <td>{{ access.result }}</td>
      <td>{{ access.correlationId }}</td>
    </tr>
  </tbody>
</table>
